.fundoCadastro {
    background-image: url(https://conteudo.imguol.com.br/c/entretenimento/b5/2024/03/13/taylor-swift-the-eras-tour-taylors-version-estreia-no-disney-nesta-quinta-feira-1710346056049_v2_900x506.png);
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
  }